<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>申请购买清单</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
	<div id="auditing-use">
	<!-- 头部 -->
    <div class="header">
    	<!-- 网站标志 -->
        <div class="logo fl">
			基于区块链的资产管理系统
        </div>
        <!-- /网站标志 -->
        <!-- 用户信息 -->
        <div class="info">
            <div class="profile dropdown fr">
                <span class="btn dropdown-toggle" data-toggle="dropdown">
					{{loginName}}
					<span class="caret"></span>
                </span>
				<ul class="dropdown-menu">
					<li><a href="Admin_Message">个人资料</a></li>
					<li><a href="/A_editpw">修改密码</a></li>
					<li><a href="Admin_signout">退出登录</a></li>
				</ul>
            </div>
        </div>
        <!-- /用户信息 -->
    </div>
    <!-- /头部 -->
    <!-- 主体内容 -->
    <div class="content">
    	<!-- 侧边栏 -->
        <div class="aside fl">
            <ul class="menu list-unstyled">
                <li>
                    <a class="item" href="Adminindex">
                		<span class="glyphicon glyphicon-user"></span>
						租借管理
                	</a>
                </li>
                <li>
                    <a class="item" href="Admin_property_add">
                		<span class="glyphicon glyphicon-th-list"></span>
						资产录入
                	</a>
                </li>
                <li>
                    <a class="item active" href="Admin_apply_look">
                		<span class="glyphicon glyphicon-th-list"></span>
						审批申请
                	</a>
                </li>
                <li>
                    <a class="item" href="Admin_property">
                		<span class="glyphicon glyphicon-th-list"></span>
                		资产信息管理
                	</a>
                </li>
            </ul>
        </div>
        <!-- 侧边栏 -->
        <div class="main">
        	<!-- 分类标题 -->
            <div class =" sort-title">
                <h4 style="font-weight: 200;">审核处理-购入申请审核模块</h4>
            </div>
            <!-- /分类标题 -->
			<!--待审核模块-->
			<div class="auditing">
				<div class="auditing-title">
					<div class="auditing-title1">
						<h6 style="display: inline-block;font-weight: bold;">待审核</h6>
						<span style="display: inline-block;">({{count}})</span>
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover custom-table">
					<thead>
					<tr>
						<th>用户名</th>
						<th>资产编号</th>
						<th>数量</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(apply,index) in applys">
						<td v-text="apply.user"></td>
						<td v-text="apply.property"></td>
						<td v-text="apply.num"></td>
						<td>
							<a @click="Agree(apply.user,apply.property)" class="glyphicon glyphicon-ok"></a>
							<i @click="Delete(apply.user,apply.property)" class="glyphicon glyphicon-remove" data-toggle="modal" data-target=".confirm-modal"></i>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<!--待审核模块结束-->
			<!-- 分页 -->
			<ul class="pagination">
				<template v-if="currentPage!=0">
					<li>
						<a href="#" v-on:click="findAll(currentPage-1)">
							<span>&laquo;</span>
						</a>
					</li>
				</template>
				<template v-if="page<=6">
					<template v-for="i in page">
						<template v-if="currentPage+1==i">
							<li class="active">
								<a href="#">
									<span  v-text="i"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i-1)">
									<span v-text="i"></span>
								</a>
							</li>
						</template>
					</template>
				</template>
				<template v-else-if="page>6&&currentPage<=2">
					<template v-for="i in 5">
						<template v-if="currentPage+1==i">
							<li class="active">
								<a href="#">
									<span  v-text="i"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i-1)">
									<span v-text="i"></span>
								</a>
							</li>
						</template>
					</template>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<li >
						<a href="#"  v-on:click="findAll(page-1)">
							<span v-text="page"></span>
						</a>
					</li>
				</template>

				<template v-else-if="page>6&&(page - currentPage)<=3">
					<li >
						<a href="#" v-on:click="findAll(0)">
							<span>1</span>
						</a>
					</li>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<template v-for="i in 5">
						<template v-if="currentPage+1==i+page-5">
							<li class="active">
								<a href="#">
									<span  v-text="i+page-5"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i+page-5-1)">
									<span v-text="i+page-5"></span>
								</a>
							</li>
						</template>
					</template>
				</template>

				<template v-else>
					<li >
						<a href="#" v-on:click="findAll(0)">
							<span>1</span>
						</a>
					</li>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<template v-for="i in 5">
						<template v-if="i==3">
							<li class="active">
								<a href="#">
									<span  v-text="currentPage+1"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(currentPage+-3+i)">
									<span v-text="i+currentPage-2"></span>
								</a>
							</li>
						</template>
					</template>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<li >
						<a href="#"  v-on:click="findAll(page-1)">
							<span v-text="page"></span>
						</a>
					</li>
				</template>
				<template v-if="page!=currentPage+1">
					<li>
						<a href="#" v-on:click="findAll(currentPage+1)">
							<span>&raquo;</span>
						</a>
					</li>
				</template>
			</ul>
			<!-- /分页 -->
        </div>
    </div>
	</div>
    <!-- /主体内容 -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="./lib/Vue/axios.js"></script>
	<script src="./lib/qs/qs.js"></script>
	<script src="./js/vue.js"></script>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#auditing-use",
			data:{
				loginName:"",
				applys:[],
				temp:[],
				key:[],
				currentPage:0,
				count:0,
				page:0,
				searchID:""
			},
			methods:{
				//寻找登录名
				getMessage:function(){
					//获取登录用户名
					this.loginName=localStorage.getItem("loginName");
					axios.post('/apply/look',{
					}).then(res=>{
						this.temp=res.data.applys;
						this.count= Object.keys(this.temp).length;
						this.page = Math.ceil(this.count/10);
						var count=0;
						for (index in this.temp) {
							if(count<10) {
								this.key[count] = index
								this.applys[count] = this.temp[index]
								count++;
							}
							else
								return false
						}
					}).catch(err=>{})
				},
				findAll:function(currentPage){
					this.currentPage = currentPage;
					var count=0;
					var i=0;
					this.applys=[];
					for (index in this.temp) {
						if(count>=(currentPage)*10 && count<(currentPage+1)*10) {
							this.key[i] = index
							this.applys[i] = this.temp[index]
							i++;
							count++;
						}
						else if(count<(currentPage)*10)
							count++
						else
							return false
					}
				},
				Agree:function(user,property){
					var qs=Qs;
					axios.post('/apply/check',qs.stringify({
						username:user,
						property:property,
						opinion	: "T"
					})).then(res=>{
						alert(res.data.msg);
					}).catch(err=>{})
				},
				Delete:function(user,property){
					var qs=Qs;
					axios.post('/apply/check',qs.stringify({
						username:user,
						property:property,
						opinion	: "F"
					})).then(res=>{
						alert(res.data.msg);
						location.reload();
					}).catch(err=>{})
				}
			},
			created(){
				this.getMessage();
			}
		})
	</script>
</body>

</html>