<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>申请购买清单</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
	<div id="auditing-use">
	<!-- 头部 -->
    <div class="header">
    	<!-- 网站标志 -->
        <div class="logo fl">
			基于区块链的资产管理系统
        </div>
        <!-- /网站标志 -->
        <!-- 用户信息 -->
        <div class="info">
            <div class="profile dropdown fr">
                <span class="btn dropdown-toggle" data-toggle="dropdown">
					{{loginName}}
					<span class="caret"></span>
                </span>
				<ul class="dropdown-menu">
					<li><a href="User_Message">个人资料</a></li>
					<li><a href="/U_editpw">修改密码</a></li>
					<li><a href="User_signout">退出登录</a></li>
				</ul>
            </div>
        </div>
        <!-- /用户信息 -->
    </div>
    <!-- /头部 -->
    <!-- 主体内容 -->
    <div class="content">
    	<!-- 侧边栏 -->
		<div class="aside fl">
			<ul class="menu list-unstyled">
				<li>
					<a class="item active" href="Userindex">
						<span class="glyphicon glyphicon-th-list"></span>
						当前申请
					</a>
				</li>
				<li>
					<a class="item" href="User_apply">
						<span class="glyphicon glyphicon-th-list"></span>
						租用申请
					</a>
				</li>
				<li>
					<a class="item" href="User_property_look">
						<span class="glyphicon glyphicon-th-list"></span>
						资产信息查询
					</a>
				</li>
			</ul>
		</div>
        <!-- 侧边栏 -->
        <div class="main">
        	<!-- 分类标题 -->
            <div class =" sort-title">
                <h4 style="font-weight: 200;">当前资产拥有情况</h4>
            </div>
            <!-- /分类标题 -->
			<!--待审核模块-->
			<div class="auditing">
				<div class="auditing-title">

				</div>
				<table class="table table-striped table-bordered table-hover custom-table">
					<thead>
					<tr>
						<th>用户名</th>
						<th>资产编号</th>
						<th>数量</th>
						<th>资产状态</th>
						<th>归还</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(apply,index) in applys">
						<td v-text="apply.owner"></td>
						<td v-text="apply.goodsname"></td>
						<td v-text="apply.num"></td>
						<td v-text="apply.state"></td>
						<td>
							<a @click="Returnproperty(apply,index)" class="glyphicon glyphicon-log-out"></a>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="explain">说明：资产状态true为获得授权，false为未获授权，点击归还可以删除此条租借信息</div>
			</div>
			<!--待审核模块结束-->
			<!-- 分页 -->
			<ul class="pagination">
				<template v-if="currentPage!=0">
					<li>
						<a href="#" v-on:click="findAll(currentPage-1)">
							<span>&laquo;</span>
						</a>
					</li>
				</template>
				<template v-if="page<=6">
					<template v-for="i in page">
						<template v-if="currentPage+1==i">
							<li class="active">
								<a href="#">
									<span  v-text="i"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i-1)">
									<span v-text="i"></span>
								</a>
							</li>
						</template>
					</template>
				</template>
				<template v-else-if="page>6&&currentPage<=2">
					<template v-for="i in 5">
						<template v-if="currentPage+1==i">
							<li class="active">
								<a href="#">
									<span  v-text="i"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i-1)">
									<span v-text="i"></span>
								</a>
							</li>
						</template>
					</template>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<li >
						<a href="#"  v-on:click="findAll(page-1)">
							<span v-text="page"></span>
						</a>
					</li>
				</template>

				<template v-else-if="page>6&&(page - currentPage)<=3">
					<li >
						<a href="#" v-on:click="findAll(0)">
							<span>1</span>
						</a>
					</li>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<template v-for="i in 5">
						<template v-if="currentPage+1==i+page-5">
							<li class="active">
								<a href="#">
									<span  v-text="i+page-5"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(i+page-5-1)">
									<span v-text="i+page-5"></span>
								</a>
							</li>
						</template>
					</template>
				</template>

				<template v-else>
					<li >
						<a href="#" v-on:click="findAll(0)">
							<span>1</span>
						</a>
					</li>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<template v-for="i in 5">
						<template v-if="i==3">
							<li class="active">
								<a href="#">
									<span  v-text="currentPage+1"></span>
								</a>
							</li>
						</template>
						<template v-else>
							<li>
								<a href="#" v-on:click="findAll(currentPage+-3+i)">
									<span v-text="i+currentPage-2"></span>
								</a>
							</li>
						</template>
					</template>
					<li class="disabled">
						<a>
							<strong>...</strong>
						</a>
					</li>
					<li >
						<a href="#"  v-on:click="findAll(page-1)">
							<span v-text="page"></span>
						</a>
					</li>
				</template>
				<template v-if="page!=currentPage+1">
					<li>
						<a href="#" v-on:click="findAll(currentPage+1)">
							<span>&raquo;</span>
						</a>
					</li>
				</template>
			</ul>
			<!-- /分页 -->
        </div>
    </div>
	</div>
    <!-- /主体内容 -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/Vue/axios.js"></script>
	<script src="/lib/qs/qs.js"></script>
	<script src="/js/vue.js"></script>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#auditing-use",
			data:{
				loginName:"",
				applys:[],
				key:[],
				searchID:"",
				temp:[],
				currentPage:0,
				count:0,
				page:0
			},
			methods:{
				//寻找登录名
				getMessage:function(){
					//获取登录用户名
					this.loginName=localStorage.getItem("loginName");
					axios.post('/property/look',{
					}).then(res=>{
						this.temp=res.data;
						this.count= Object.keys(this.temp).length;
						this.page = Math.ceil(this.count/10);
						var count=0;
						for (index in this.temp) {
							if(count<10) {
								this.key[count] = index
								this.applys[count] = this.temp[index]
								count++;
							}
							else
								return false
						}
					}).catch(err=>{})
				},
				findAll:function(currentPage){
					this.currentPage = currentPage;
					var count=0;
					var i=0;
					this.applys=[];
					for (index in this.temp) {
						if(count>=(currentPage)*10 && count<(currentPage+1)*10) {
							this.key[i] = index
							this.applys[i] = this.temp[index]
							i++;
							count++;
						}
						else if(count<(currentPage)*10)
							count++
						else
							return false
					}
				},
				Returnproperty:function(property,index){
					var qs=Qs;
					if(property.state === true)
					axios.post('/property/return',qs.stringify({
						property:this.key[index]
					})).then(res=>{
						if (res.data.code === 200) {
							alert("归还成功");
						}else {
							alert(res.data.msg)
						}
						window.location.href="/Userindex"
					}).catch(err=>{})
					else
						axios.post('/property/lenddelete',qs.stringify({
							owner : property.owner,
							property:this.key[index]
						})).then(res=>{
							if (res.data.code === 200) {
								alert("归还成功");
							}else {
								alert(res.data.msg)
							}
							window.location.href="/Userindex"
						}).catch(err=>{})
				}
			},
			SearchButton:function(){
			},
			created(){
				this.getMessage();
			}
		})
	</script>
</body>

</html>